<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
  <title>정보 가져오는 중...</title>
</head>

<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .content {
    text-align: center;
    font-family: "Orbit", sans-serif;
    font-size: 20px;
    padding-bottom: 24px;
  }
</style>

<script th:inline="javascript">
  var handle = [[${handle}]];
  if (handle) {
    fetch(`/member/init/${handle}`, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    })
            .then(response => {
              if (!response.ok) {
                throw new Error('정보 업데이트 실패');
              }
              window.location.href = '/home';
            })
            .catch(error => {
              console.error(error);
              alert('정보 업데이트에 실패했습니다.');
              window.location.href = '/home';
            });
  } else {
    console.error('handle이 없습니다.');
    alert('핸들이 없습니다.');
    window.location.href = '/home';
  }
</script>

<body>
<div class="center" style="display: flex; flex-direction: column; align-items: center;">
  <img src="https://bojguidance.s3.ap-northeast-2.amazonaws.com/loading.gif" alt="사용자의 정보를 가져오고 있습니다">
  <div class="content"><span th:text="${session.memberId}"></span>님의 정보를 가져오고 있습니다.</div>
</div>
</body>
</html>
